@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.showcase{
    background: url(./images/scattered-forcefields\ pink.svg);
}
nav{
    display: grid;
    grid-gap:2rem;
    grid-template-columns: 1fr 2fr 2fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}
nav a{
    color: #000;
    padding: 1rem;
    font-weight: 600;
}
nav .sign-up{
    background: #242ad4;
    padding: .5em 1em;
    border-radius: 1.5em;
}
.logo{
    font-weight: bolder;
}


.nav-toggle{
    /* padding: 1rem; */
    display: none;
}
/* .nav-links, .account{
    display: none;
} */
.nav-toggle span{
    height:2px;
    width:28px;
    background: #000;
    margin-bottom:5px ;
    display: block;
}

.hero-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap:2rem;
    padding: 2rem;
    margin-right: 8rem;
    margin-left: 2rem;
}

@media(max-width:895px) {
  .hero-section{ 
      grid-template-columns: 1fr;
      gap: 1rem;
      margin-right: unset;
      margin-left: unset;
  }
  .show-case-image-container{
    order: -1;
  }
  .nav-toggle{
      display: block;
  }
  .nav-links, .account{
      display: none;
  }

nav{
    grid-template-columns: 1fr 2fr;
    margin-right: 3rem;
}
}



.show-case-text{
    padding-bottom: 1rem;
    line-height: 1.2;
}
.show-case-text >*+*{
    margin-bottom: 2rem;
}
.txt-lg{
    font-size: clamp(2rem, 2.5vw, 4rem); 
}
.txt-md{
    font-size: 1rem;
    font-weight: 400;
}

.explore{
    background: rgba(255, 193, 204,0.4);
    padding: .5em;
    font-size: 0.8rem;
    border-radius: 1rem;
    color: rgb(231, 102, 124);
    font-weight: bolder;
    text-align: center;
}
.txt-lg{
    margin-top: 1rem;
}
.show-case-image-container{
    margin-top: -10rem;
}
.show-img{
    position: relative;
    top: 2.4rem;
    left: 1rem;
    /* outline: 2px solid rgb(253, 251, 251);
    shape-outside: none; */
    float: right;
}
.show-case-image-container::after{
    content: "";
    background: rgb(247, 186, 197);
    padding: 20rem 20rem 0 0;
    border-radius: 50%;
}

.icon-container img{
    height: 1.25rem;
    width: 1.25rem;
    position: relative;
    top: 3px;
}
.icon-container-lg img{
    height: 3rem;
    width: 3rem;
}
.schedules-container{
    display: flex;
    gap: 1rem;
    background: #fff;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-radius: 3.5em;
    font-size: 0.8rem;
    color: #222;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.sub-container:nth-child(1){
    border-right: 1px solid rgb(230, 220, 220);
    padding-right: 5%;
}
.txt-bld{
    font-weight: bold;
}
.fa-map-marker-alt,.fa-calendar-alt{
    color: rgb(238, 143, 159);
    cursor: pointer;
}
.schedules-container .fa-chevron-down{
    font-size: .6rem;
    cursor: pointer;
}
.txt-lgt{
    color: #555;
}
.search-icon{
    background: #242ad4;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    justify-content: end;
    color: rgb(233, 225, 225);
    text-align: center;
    margin-right: -1rem;
    cursor: pointer;
    transition: 250ms ease-in-out;
}
.fa-search{
    position: relative;
    top: 35%;
    font-weight: 600;
    font-size: 1.1rem;
}
.search-icon:hover{
    transform: scale(1.05);
    opacity: 0.8;
}

/*SERVICES*/
.services{
    background: rgb(247, 244, 244);
}
.subtitle{
    text-transform: uppercase;
    color: #242ad4;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 3.5rem;
}
.service-icon{
    max-width: 3.8rem;
}
.service-icon-container{
    margin-left: 2.5rem;
}
.services-container{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 1rem;
    text-align: center;
}
.services-container >*+*{
    max-width:20rem;
    min-width:12rem;
}
.service p{
    max-width: 300px;
    padding: 0.4rem;
    font-weight: 300;
}
.service .intro{
    font-size: clamp(1.5rem, 2.5vw, 3rem); 
    max-width: 14rem;
    line-height: 1.3;
    }
 .service-icon-shape{
  border-radius:55% 45% 65% 35% / 50% 60% 40% 50%; 
}
@media(min-width:900px){
    .service3{
        margin-bottom: 4rem;
    }
    .service4{
        margin-top: 2rem;
    }
   
}
.services-container .service1 h1{
    text-align: center;
}
@media(min-width:600px){
    .services-container{
        text-align: unset;
    }
    .services-container .service1 h1{
        text-align: unset;
    }
}