@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;;
}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
}
img{
    max-width: 100%;
}
::selection{
    color: #242ad4;
}
a{
    text-decoration: none;
}
.showcase{
    background: url(./images/scattered-forcefields\ pink.svg);
    /* position: relative; */
}
nav{
    display: grid;
    grid-gap:2rem;
    grid-template-columns: 1fr 3fr 2fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.35rem 0.5rem;
}
nav a{
    color: #000;
    padding: 1rem;
    font-weight: 600;
    position: relative;
    top: 0.3rem;
}
.nav-links a:before{
    content: "";
    display: inline-block;
    height: 3px;
    width: 2.2rem;
    background: #7a7eec;
    position: relative;
    top: 0.5rem;
    left: 2rem;
    transition: 200ms ease-in-out;
    transform: scale(0);
    transform-origin: left;
}
.nav-links a:hover:before{
    transform: scale(1);
}

nav .sign-up{
    background: #242ad4;
    padding: .5em 1em;
    border-radius: 1.5em;
    color: #eee;
}
.logo{
    font-weight: bolder;
    color: #1419af;
    user-select: none;
    cursor: pointer;
}
.header-top{
    position: fixed;
    width: 100%;
    margin-top: -15px;
    background: rgba(4, 4, 20, 0.2);
    z-index: 1000;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}
@media(min-width:890px) {
    .header-top{
        position: sticky;
        top:1px;
    }
}
.nav-toggle{
    display: none;
    position: relative;
    top: 0.5rem;
    left:20px;
    cursor: pointer;
}

.nav-toggle span{
    height:2px;
    width:28px;
    background: #070a5c;
    margin-bottom:5px ;
    display: block;
}
.nav-links-small-screen{
    position: fixed;
    z-index: 900;
    top: 3.2rem;
    bottom: 0;
    right: 0;
    left:0;
    height: 100%;
    background: #000;
    opacity: 0.8;
    display: none; /*to be changed to display flex on small screens*/
    align-items: center;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    transition: 250ms ease-in;
    transform: translateX(-100%);
    font-size: 1.2rem;
}
.nav-links-small-screen a{
    color: #fff;
}
.nav-links-small-screen a:hover{
    color: blue;
    top: 1%;
    transition: 250ms ease-in;
}


/* the hamburger-open class is manipulated with js */
.hamburger-open{
    position: relative;
  }
  .hamburger-open span:nth-of-type(1){
      /* display: none; */
    transform: scale(0);
    transition: 500ms;
  }
  .hamburger-open span:nth-of-type(2){
    transition: 250ms;
    transform: rotate(-40deg);
  }
  .hamburger-open span:nth-of-type(3){
    position: relative;
    transition: 250ms;
    transform: rotate(40deg);
    bottom: 0.436rem;
  }



/******HERO-SECTION*****/
.hero-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap:2rem;
    padding: 2rem;
    /* margin-right: 8rem; */
    margin-left: 2rem;
}

@media(max-width:895px) {
  .hero-section{ 
      grid-template-columns: 1fr;
      gap: 1rem;
      margin-right: unset;
      margin-left: unset;
  }
  .show-case-image-container{
    order: -1;
  }
  .nav-toggle{
      display: block;
  }
  .nav-links, .account{
      display: none;
  }

nav{
    grid-template-columns: 1fr 2fr;
    margin-right: 3rem;
}
.our-experience .show-case-text{
    text-align: left;
}
.nav-links-small-screen{
    display: flex;
  }
}


.show-case-text{
    padding-bottom: 1rem;
    line-height: 1.2;
}
.show-case-text >*+*{
    margin-bottom: 2rem;
}
.txt-md{
    font-size: 1.2rem;
    font-weight: 400;
}
.hero-section .txt-md{
    font-size: 1.1rem;
}

.explore{
    background: rgba(255, 193, 204,0.4);
    padding: .5em;
    font-size: 0.8rem;
    border-radius: 1rem;
    color: rgb(231, 102, 124);
    font-weight: bolder;
    text-align: center;
}
.txt-lg{
    margin-top: 1rem;
    line-height: 1.5;
    font-size: 2rem;
    color: #555;
}
.show-case-image-container{
    margin-top: -6rem;
}
.show-img{
    position: relative;
    top: 2.4rem;
    left: 1rem;
    /* outline: 2px solid rgb(253, 251, 251);
    shape-outside: none; */
    float: right;
}
.show-case-image-container::after{
    content: "";
    background: rgb(247, 186, 197);
    padding: 20rem 20rem 0 0;
    border-radius: 50%;
}

.icon-container img{
    height: 1.25rem;
    width: 1.25rem;
    position: relative;
    top: 3px;
}
.icon-container-lg img{
    height: 2.2rem;
    width: 3rem;
}
.schedules-container{
    display: flex;
    gap: 1rem;
    background: #fff;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-radius: 3.5em;
    font-size: 0.8rem;
    color: #222;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.sub-container:nth-child(1){
    border-right: 1px solid rgb(230, 220, 220);
    padding-right: 5%;
}
.txt-bld{
    font-weight: bold;
}
.fa-map-marker-alt,.fa-calendar-alt{
    color: rgb(238, 143, 159);
    cursor: pointer;
}
.schedules-container .fa-chevron-down{
    font-size: .6rem;
    cursor: pointer;
}

.search-icon{
    background: #242ad4;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    justify-content: end;
    color: rgb(233, 225, 225);
    text-align: center;
    margin-right: -1rem;
    cursor: pointer;
    transition: 250ms ease-in-out;
}
.fa-search{
    position: relative;
    top: 35%;
    font-weight: 600;
    font-size: 1.1rem;
}
.search-icon:hover{
    transform: scale(1.05);
    opacity: 0.8;
}

/*SERVICES*/
.services{
    background: rgb(247, 244, 244);
}
.subtitle{
    text-transform: uppercase;
    color: #242ad4;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 3.5rem;
    text-align: center;
}
.service-icon{
    max-width: 3.8rem;
}
.service-icon-container{
    margin-left: 2.5rem;
}
.services-container{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 1rem;
    text-align: center;
}
.services-container >*+*{
    max-width:20rem;
    min-width:12rem;
}
.service p{
    max-width: 18.75rem;
    padding: 0.4rem;
    font-weight: 500;
    color: #777;
}
.service .intro{
    font-size: clamp(1.8rem, 2.5vw, 3rem); 
    max-width: 14rem;
    line-height: 1.3;
    }
 .service-icon-shape{
  border-radius:55% 45% 65% 35% / 50% 60% 40% 50%; 
}
@media(min-width:900px){
    .service3{
        margin-bottom: 4rem;
    }
    .service4{
        margin-top: 2rem;
    }
   
}
.services-container .service1 h1{
    text-align: center;
    margin-left: 3rem;
}

@media(min-width:600px){
    .services-container{
        text-align: unset;
    }
    .services-container .service1 h1{
        text-align: unset;
        margin-left: 0.5rem;
    }
    .destinations-header .scroll-btns{
        margin-right: 5rem;
    }.subtitle{
        text-align: unset;
    }

}
.txt-colored{
    color:#242ad4;
    font-weight:500;
}
/* TOP DESTINATIONS */
.scroll-btns{
    display: flex;
    margin-right: 1rem;
}
.scroll-btn{
    background: #242ad4;;
    color: #fff;
    width:2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.scroll-left{
    background: #ddd;
    color: #000;
}
.fa-chevron-right,
.fa-chevron-left{
    position: relative;
    left: 15px;
    top: 8px;
    cursor: pointer;
}
.destinations-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.destinations-header h1{
    font-size: clamp(1.1rem, 2.5vw, 2.5rem);
    letter-spacing: unset;
    margin-left: 3rem;
    /* text-transform: uppercase */
    font-style: italic;
    line-height: 1;
}

.places{
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    margin-left: 1rem;
}
.place{
    padding:1.4rem;
    position: relative;
}
.price{
    position: absolute;
    right: 2.1rem;
    top: 2rem;
    background-color: #fff;
    padding: 0.2em 0.6em;
    border-radius: 1em;
    color: #242ad4;
}
.price:hover{
    opacity: .5;
}
.place img{
    min-width: 15.625rem;
    height: 15.625rem;
    border-radius: 1.2em;
    object-fit: cover;
}
.place-description{
    font-weight: 600;
    color: #222;
}
.place-name{
font-weight: 600;
color:#777;
font-size:0.8rem;
}
.rating{
    font-size: 0.9rem;
    padding: 0.8rem 0.8rem 0rem 0rem;
    color: #777;
}
.rating span{
    background: rgba(187, 198, 235, 0.4);
    padding: 0.01em 0.2em;
    letter-spacing: 1px;
    border-radius: 0.8em;
    font-size: 0.8rem;
    color: rgb(26, 23, 202);
    /* font-weight: 700; */
}
/* OUR EXPERIENCE */
.our-experience{
    background: #fdf7f7;
    border-radius: 2em 2em 0 0;
    margin:4rem 0rem auto;
}
.our-experience .show-case-text{
    max-width: 100%;
    margin-left: 8%;
    text-align: center;
}
/* .our-experience .show-case-text p{
    text-align: center;
} */
@media(min-width:900px){
    .our-experience .show-case-text{
        margin-left: unset;
        text-align: left;
    }
    .our-experience .show-case-text p{
        text-align: left;
    }
}
.our-experience-title{
text-transform: uppercase;
letter-spacing: 1px;
color: #242ad4;
padding-top: 1rem;
}

.our-experience .show-case-image-container{
    margin-top: -21rem;
}

.our-experience .show-img{
    position: relative;
    top: 1.4rem;
    left: 1.3rem;
}
.our-experience .show-case-image-container::after{
    content: "";
    background: rgb(247, 186, 197);
    padding: 16em 16em 0em 0em;
    border-radius: 50%;
}
.show-case-main{
    position: relative;
}

.badge-verified{
    background: #fff;
    position: absolute;
    border-radius: .8em;
    width: 100px;
    height: 170px;
    top: 11rem;
    left: 2.6rem;
    box-shadow: 0 4px 18px rgb(0 0 0 / 0.2);
}
.verified-txt{
    position: relative;
    bottom: 0.01rem;
    right:25.6%
}
.rating-emojis{
    position: relative;
    background:#fff;
    padding:1.2rem 2rem 1.5rem 1rem;
    width: 12em;
    border-radius: .8em;
    left: 10rem;
    bottom: 2.5rem;
    box-shadow: 0 4px 18px rgb(0 0 0 / 0.2);
    user-select: none;

}
.rating-emojis img{
    max-width: 1.8rem;
    max-height: 1.8rem;
    cursor: pointer;
    padding-right: 0.4rem;
    user-select: none;
    transition: 200ms ease-in-out;
}
.rating-emojis img:hover{
    transform:scale(1.5)
}
.rating-emojis p{
    font-weight: bold;
}
@media (max-width:490px){
    .our-experience .show-case-image-container{
        margin-top: -14.8rem;
    }
    .our-experience .show-case-image-container::after{
        content: "";
        background: rgb(247, 186, 197);
        padding: 20em 20em 0rem 0rem;
        border-radius: 50%;
    }
    .our-experience{
        margin:2rem 0rem auto;
    }
    .verified-txt{
        right: 21.8%;
    }
}

.our-experience .show-case-text3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}
.txt-stats{
    max-width:8rem;
    line-height:1.5;
}
.txt-stats h1{
    color: #242ad4;
}

/* all show-case-text paragraphs */
.show-case-text p{
    color: #777;
    font-weight: 500;
    line-height:1.5;
}
/* SECTION-OUR-CLIENTS-SAY */
.our-clients-say {background: #eee;}
/* SWIPER SLIDERS */
.subtitle2{
    font-size: clamp(1.8rem, 1.5vw, 2.5rem);
    text-transform: unset;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #000;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 315px;
    height: 500px;
    background: #fff;
    padding: 2.2rem;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    filter: blur(2px);
  }
  .swiper-slide-active{
      filter: blur(0px);
      height: 600px;
  }
  .swiper-slide p{
    color: #000;
    padding-bottom: 1rem;
    line-height: 1.6;
    font-size: 1.1rem;
  }
  .swiper-slide .rating-stars{
      color: #383cb1;
      padding: 1rem 0;
     
  }
  .swiper-slide .rating-stars>*{
      margin-right: 0.2rem;
  }
  .swiper-slide .person-img {
      /* background: #ffcece;
      text-align: center;
      border-radius: 50%; */
      position: absolute;
      right: 0;
      bottom: 0;
  }
  .swiper-slide .person-img img{
      max-height: 5rem;
      min-width: 5rem;
      object-fit: cover;
      margin: auto;
  }


  .swiper-slide img {
    display: block;
    max-width: 25rem;
  }

  /*GET STARTED SECTION*/
  .get-started{
      padding: 2rem;
      text-align: center;
      font-size: clamp(1.4rem, 2.5vw, 1.8rem);
      background: #eee;
      margin-bottom: 0rem;  
      line-height: 1.4;
  }
  .get-started-content{
      background:rgba(255, 192, 203, 0.5);
      padding: 4rem 1.5rem 4rem 1.5rem;
      max-width: 80%;
      margin: auto;
      border-radius: 1.4rem;
  }
  .get-started-content p{
      margin-bottom: 1.4rem;
      margin-top: 1.4rem;
      color: #444;
  }
  .get-started-btn{
      color: #fff;
      background: #383cb1;
      border-radius: 1.8em;
      padding: 1rem 1.5rem;
      font-size: 1rem;
      margin-top: 1rem;
      cursor: pointer;
      transition: 200ms ease-in-out;
  }
  .get-started-btn:hover{
      opacity: 0.8;
  }
 .earth-icon{
      width: 1.5rem;  
      height: 1.5rem;
  }

  /* FOOTER */
  footer{
    background: #eee;
  }
  .footer{
      display: grid;
      grid-template-columns: repeat(5,1fr);
      gap: 1rem;
      max-width: 95%;
      margin: auto;
      padding: 2rem 1rem;
      color: #777;
      font-weight: 500;
  }
  .footer h3{
      color: #000;
  }
  .footer ul li{
      list-style: none;
  }
  .footer ul li a{
      color: #777;
      font-weight: 500;
  }
.social-media-icons a i{
    color: #383cb1;
    padding: 0.5rem 0.5rem;
    transition: 200ms ease-in-out;
}
.social-media-icons a i:hover{
    transform: scale(1.15);
}
.social-media-icons a .fa-facebook-f{
    background: #383cb1;
    color: #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
}
.email-box{
    position: relative;
    padding-top: 0.5rem;
}
.email-box input{
    position: relative;
    outline: #1419af;
    padding: 0.5rem 0rem 0.5rem 0.1rem;
}
.email-box .fa-chevron-right{
    position: absolute;
    left: 11rem;
    color: #fff;
    background: #1419af;
    padding: 0.69rem 1.5rem;
    border-radius: 0px 6px 6px 0px;
}

  @media(max-width:600px){
    .footer{
        grid-template-columns: 1fr 1fr;
        padding: 2rem 2rem;
    }
  }
  @media(max-width:500px){
    .footer{
        grid-template-columns:1fr;
        align-items: center;
    }
    .footer-marketing-txt{
        max-width: 15rem;
    }
    .email-box .fa-chevron-right{
        left: 15rem;
    }
    .enail-box input{
        max-width: 70%;
    }
  }

